<div id="background">
  <div class="header">

    <div class="title">
      <h1>
        <span class="glitch">Alan</span>
      </h1>
    </div>

    <div class="subtitle">
      <h3>
        <span>Estudante de Engenharia de Software</span>
      </h3>
    </div>

    <div class="icons">
      <a aria-label="Email" href="{{site.email}}">
        <i class="icon fas fa-envelope"></i>
      </a>
      <a aria-label="Linkedin" target="_blank" href="{{site.linkedin}}">
        <i class="icon fab fa-linkedin-in" aria-hidden="true"></i>
      </a>
      <a aria-label="Github" target="_blank" href="{{site.github}}">
        <i class="icon fab fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>